<section class="bg-main-light p-4 rounded my-3 w-75 mx-auto">
    <h1>Register Now:</h1>

    <form [formGroup]="registerForm" (ngSubmit)="handelForm()">


        <!-- <p>{{registerForm.get("name")?.getError("minlength")| json}}</p> -->
        <div class="mb-2">
            <label for="name">Name: </label>
            <input formControlName="name" type="text" id="name" class="form-control">
            <div class="alert alert-danger" *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
                <p *ngIf=" registerForm.get('name')?.getError('required') ">Name is Required</p>
                <p *ngIf=" registerForm.get('name')?.getError('minlength') ">Name MinLength 3</p>
                <p *ngIf=" registerForm.get('name')?.getError('maxlength') ">Name MaxLength 20</p>
            </div>
        </div>

        <div class="mb-2">
            <label for="email">Email: </label>
            <input formControlName="email" type="email" id="email" class="form-control">

             <div class="alert alert-danger" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
                <p *ngIf=" registerForm.get('email')?.getError('required') ">Email is Required</p>
                <p *ngIf=" registerForm.get('email')?.getError('email') ">Email inVaild</p>

            </div>
        </div>

        <div class="mb-2">
            <label for="password">Password: </label>
            <input formControlName="password" type="password" id="password" class="form-control">

            <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
                <p *ngIf=" registerForm.get('password')?.getError('required') ">Password is Required</p>
                <p *ngIf=" registerForm.get('password')?.getError('pattern') ">Password must start with upperCase then from 6 to 20</p>

            </div>
        </div>

        <div class="mb-2">
            <label for="rePassword">RePassword: </label>
            <input formControlName="rePassword" type="password" id="rePassword" class="form-control">

            <div class="alert alert-danger" *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
                <p *ngIf=" registerForm.get('rePassword')?.getError('required') ">RePassword is Required</p>
                <p *ngIf=" registerForm.get('rePassword')?.getError('pattern') ">RePassword must start with upperCase then from 6 to 20</p>

            </div>
        </div>

        <div class="mb-2">
            <label for="phone">Phone: </label>
            <input formControlName="phone" type="tel" id="phone" class="form-control">

            <div class="alert alert-danger" *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
                <p *ngIf=" registerForm.get('phone')?.getError('required') ">Phone is Required</p>
                <p *ngIf=" registerForm.get('phone')?.getError('pattern') ">Accept Only Egypt Phone Numbers</p>

            </div>
        </div>

       <button [disabled]="registerForm.invalid" class="btn-main ms-auto d-block">
        <i *ngIf="isLoading" class="fas fa-spin fa-spinner"></i>
        Register
    </button>
        <p *ngIf="msgError" class="text-danger">{{msgError}}</p>
    </form>
</section>
