<section class="w-75 mx-auto">
    <div class="row align-items-center">
        <div class="col-md-4">


            <owl-carousel-o [options]="productSlider">

                <ng-container *ngFor="let src of productDeatils.images">
                  <ng-template carouselSlide >
                    <img [src]="src" class="w-100">
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>


        <div class="col-md-8">
            <div>
                <h3 class="h5">{{productDeatils.title}}</h3>
                <p class="text-muted">{{productDeatils.description}}</p>
                <h4 class="h6">{{productDeatils.category.name}}</h4>


                <div class="d-flex align-items-center justify-content-between">
                    <span>{{ productDeatils.price }}</span>
                    <div>
                      <i class="fas fa-star rating-color"></i>
                      <span class="text-muted">{{ productDeatils.ratingsAverage }}</span>
                    </div>
                  </div>

                  <button class="btn-main w-100">Add Products</button>

            </div>
        </div>
    </div>
</section>